/* Welcome to the CSS stylesheet for this website! */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
	font-family: 'Lato', sans-serif;
}

nav.nav {
    color: rgb(98, 181, 153);
    margin-bottom: 5%;
}

header div {
    width: 70vw;
    background-color: hsl(304, 47%, 60%);
    margin: auto;
    padding-bottom: 0.2in;
    text-align: center;
    text-decoration: underline;
}

#canvas {
    border-style: ridge;
    border-color: black;
    border-width: 1em;
    border-radius: 5px;
}

[controls] {
    padding: 4pt;
}