/* Welcome to the CSS stylesheet for this website! */

* {
	
}

nav.nav {
    color: rgb(98, 181, 153);
    margin-bottom: 5%;
}

header div {
    width: 70vw;
    background-color: hsl(304, 47%, 60%);
    margin: auto;
    padding-bottom: 0.2in;
}

#canvas {
    border-style: ridge;
    border-color: black;
    border-width: 1em;
    border-radius: 5px;
}

[controls] {
    padding: 4pt;
}