/* Welcome to the CSS stylesheet for this website! */

* {
	
}

nav.nav {
    color: rgb(98, 181, 153);
}

header div {
    background-color: hsl(304, 47%, 60%);
}

#canvas {
    border-style: ridge;
    border-color: black;
    border-width: 1em;
    border-radius: 5px;
}